mixin wrapper()
  header.header
    +header()
  nav.nav
    +nav()
  .about
    +about()
  .stats
    +stats()
  .products
    +products()
  .team  
    +team()
  .showcase  
    +showcase()
  footer.footer
    +footer()