mixin wrapper(data)
  header.header
    .header__menu
      .header__company-name.company-name
      button.header__menu-btn
    .header__title
      h1.header__welcome
      p.header__description
      p.header__signature
    .header__mouse-icon