.company-name {
    font-size: 1.875rem;
    font-family: "Raleway Bold", sans-serif;
    font-weight: bold;
    line-height: 1.2;
    color: #ededed;

    letter-spacing: 0.133em;
    text-transform: uppercase;

    &_color_black {
        color: #1c1c1c;
    }
}