mixin page(page_title)
  doctype html
  html(lang="ru")
    head
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      title= page_title
      link(rel='stylesheet', href='styles/project.css')
      link(rel='stylesheet', href='styles/reset.css')
      link(rel='stylesheet', href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css')
      script(src="https://code.jquery.com/jquery-3.4.1.min.js"
             integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
             crossorigin="anonymous")
    body
      .wrapper
        +wrapper()