- 
  var footerFirstMenuTitle = "Quick Links";
  var footerFirstMenuLinks = [
    "About Us",
    "Products",
    "Services",
    "Our Team",
    "Blog",
    "Contact"
  ];
  var footerSecondMenuTitle = "Quick Links 2";
  var footerSecondMenuLinks = [
    "FAQ",
    "Terms & Conditions",
    "Something Else",
    "Anything",
    "Your Ideas",
    "Right Here"
  ];
  var footerSocialLinksTitle = "Let's Get Social!";
  var footerPicsRelativePath = "components/footer/img/";
  var footerSocialPicsPaths = [
    "<img src=" + footerPicsRelativePath + "facebook.png>",
    "<img src=" + footerPicsRelativePath + "linked-in.png>",
    "<img src=" + footerPicsRelativePath + "instagram.png>",
    "<img src=" + footerPicsRelativePath + "twitter.png>"
  ];

mixin footer()
  h2.footer__company-name.company-name
    +company-name()
  .footer__menus
    .footer__info-block.links-list
      +links-list(footerFirstMenuTitle, footerFirstMenuLinks)
    .footer__info-block.links-list
      +links-list(footerSecondMenuTitle, footerSecondMenuLinks)
    .footer__info-block.links-list.links-list_type_social
      +links-list(footerSocialLinksTitle, footerSocialPicsPaths)
    img.footer__map(src=footerPicsRelativePath + "google-maps.png")
  block