.subtitle {
    font-size: 1.125rem;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    color: #3b3b3b;
    
    letter-spacing: 0.11em;

    &_color_white {
        color: #ededed;
    }

    &_color_dark-grey {
        color: #1e1e1e;
    }
}