@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway/ralewayregular.ttf");
  src: url("../fonts/Raleway/ralewayregular.woff2") format("woff2"), url("../fonts/Raleway/ralewayregular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Raleway Bold';
  src: url("../fonts/Raleway/ralewaybold.ttf");
  src: url("../fonts/Raleway/ralewaybold.woff2") format("woff2"), url("../fonts/Raleway/ralewaybold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .about__title {
    margin-top: 1.73em;
    margin-bottom: 0.33em; }
  .about__subtitle {
    margin-bottom: 1em; }
  .about__description {
    margin: 1.3em 15% 5em;
    font-size: 0.875rem;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    color: #3b3b3b;
    letter-spacing: 0.143em; }

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.catalog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .catalog-item__dollar-sign {
    padding-bottom: 10px; }

.company-name {
  font-size: 1.875rem;
  font-family: "Raleway Bold", sans-serif;
  font-weight: bold;
  line-height: 1.2;
  color: #ededed;
  letter-spacing: 0.133em;
  text-transform: uppercase; }
  .company-name_color_black {
    color: #1c1c1c; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  padding: 10.7vh 10% 0;
  padding-top: 10.7vh;
  font-family: "Raleway", sans-serif;
  color: #ededed;
  background: #0b0b0b url("../components/header/img/bg-image.png") no-repeat center;
  background-size: cover;
  overflow: hidden; }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header__menu-btn {
    position: relative;
    color: #ededed;
    font-family: "Raleway", sans-serif;
    background: transparent;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.3125rem;
    text-transform: uppercase;
    border: none; }
  .header__title {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: -10.7vh;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%); }
  .header__welcome {
    font-family: "Raleway Bold", sans-serif;
    font-size: 3rem;
    line-height: 1.328;
    font-weight: 800;
    letter-spacing: 0.125em;
    text-transform: uppercase;
    text-shadow: 0 1px 0 black, 0 -1px 0 black, 1px 0 0 black, -1px 0 0 black; }
  .header__description {
    font-size: 1.5rem;
    line-height: 1.66;
    letter-spacing: 0.125em;
    text-align: right; }
  .header__signature {
    display: block;
    font-size: 1.125rem;
    font-style: italic; }
  .header__mouse-icon {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin-bottom: 8vh; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .menu__item {
    font-family: "Railway", sans-serif;
    font-size: 1.125rem;
    color: #3b3b3b;
    letter-spacing: 0.125em;
    text-transform: uppercase; }
  .menu__item:not(:last-of-type) {
    margin-right: 3vw; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  padding: 40px 10%;
  -webkit-box-shadow: 0 -15px 30px 0 black;
  box-shadow: 0 -15px 30px 0 black; }
  .nav__company-name {
    margin-right: 10vw; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0; }

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 15vw; }
  .products__title {
    margin-top: 1.66em;
    margin-bottom: 0.33em; }
  .products__subtitle {
    margin-bottom: 2em; }

.stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: url("../components/stats/img/stats-bg.png") no-repeat center;
  background-size: cover; }
  .stats__title {
    margin-top: 3em;
    margin-bottom: 0.33em; }
  .stats__data {
    margin-top: 5rem;
    margin-bottom: 6rem; }

.stats-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.stats-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 15vw;
  font-family: "Raleway", sans-serif;
  color: #ededed;
  text-align: center; }
  .stats-item__number {
    font-size: 4.5rem;
    letter-spacing: 0.125em; }
  .stats-item__unit {
    font-size: 1.5rem; }
  .stats-item:not(:last-of-type) {
    margin-right: 7.5vw; }

.subtitle {
  font-size: 1.125rem;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #3b3b3b;
  letter-spacing: 0.11em; }
  .subtitle_color_white {
    color: #ededed; }

.title {
  font-size: 1.875rem;
  font-family: "Raleway Bold", sans-serif;
  font-weight: bold;
  color: #1d1d1d;
  letter-spacing: 0.133em;
  text-transform: uppercase; }
  .title_color_white {
    color: #ededed; }
