@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway/ralewayregular.ttf");
  src: url("../fonts/Raleway/ralewayregular.woff2") format("woff2"), url("../fonts/Raleway/ralewayregular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.header {
  min-height: 1080px;
  padding: 117px 10% 0;
  font-family: "Raleway", sans-serif;
  color: #ededed;
  background: #000000 url("../components/header/img/bg-image.png") no-repeat center;
  background-size: cover; }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.875rem;
    font-weight: bold;
    text-transform: uppercase; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }
